@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --shadow-color: hsla(213, 47%, 65%, 0.50);

    --spacing-50: 0.375rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3.75rem;

    --font-extra-light: 200; 
    --font-regular: 400;
    --font-semibold: 600;

    --text-sm: 0.8125rem;
    --text-base: 0.9375rem;
    --text-lg: 1.25rem;
    --text-xl-mobile: 1.5rem;
    --text-xl-desktop: 2.5rem;

    --rounded-md: 0.5rem;
    --card-shadow: 0px 15px 30px -11px var(--shadow-color);

    --max-page-header-w-mobile: 19.75rem;
    --max-page-header-w-desktop: 33.75rem;
    --max-card-w-mobile: 19.625rem;
    --max-card-w-desktop: 21.875rem;
    --card-icon-size: 4rem;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    box-sizing: inherit;
}

.font-semibold {
    font-weight: var(--font-semibold);
}

.font-regular {
    font-weight: var(--font-regular);
}

.font-extra-light {
    font-weight: var(--font-extra-light);
}

.text-sm {
    font-size: var(--text-sm);
    line-height: 160%;
    letter-spacing: 0;
}

.text-base {
    font-size: var(--text-base);
    line-height: 140%;
    letter-spacing: 0;
}

.text-lg {
    font-size: var(--text-lg);
    line-height: 135%;
    letter-spacing: 0;
}

.text-xl {
    font-size: clamp(var(--text-xl-mobile), 6vw, var(--text-xl-desktop));
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-grey-500 {
    color: var(--grey-500);
}

.text-grey-400 {
    color: var(--grey-400);
}

.text-center {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-600);
    padding-inline: var(--spacing-400);
    padding-block: var(--spacing-400);
}

header.page-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    max-width: clamp(var(--max-page-header-w-mobile), 100vw, var(--max-page-header-w-desktop));
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
}

.card {
    max-width: clamp(var(--max-card-w-mobile), 40vw, var(--max-card-w-desktop));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding-block: var(--spacing-400);
    padding-inline: var(--spacing-400);
    border-radius: var(--rounded-md);
    border-top: 0.25rem solid;
    box-shadow: var(--card-shadow);
}

header.card-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.card-icon {
    height: 100%;
    width: auto;
    max-width: var(--card-icon-size);
    align-self: flex-end;
}

.border-red {
    border-color: var(--red);
}

.border-orange {
    border-color: var(--orange);
}

.border-cyan {
    border-color: var(--cyan);
}

.border-blue {
    border-color: var(--blue);
}

@media screen and (min-width: 48rem) {
    .cards { 
        display: grid; 
        justify-items: center;
        align-items: center;
        gap: var(--spacing-400);
    }

    .supervisor, .karma { grid-row: 2; }
    .team-builder { grid-column: 1/3; }
    .calculator { grid-row: 3;  grid-column: 1/3; }
}

@media screen and (min-width: 71.25rem) {
    .supervisor { grid-row: 1/3; grid-column: 1; }
    .team-builder, .karma { grid-column: 2; }
    .calculator { grid-row: 1/3; grid-column: 3; }
}